# Dependencies
node_modules/
/node_modules

# Production
dist/
build/

# Environment
.env
.env.local
.env.production

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
coverage/
.nyc_output/

# Misc
*.pem
.npm

# Database
*.sqlite
*.sqlite3